{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="18BA674C0D78A42E9200A6099CE0A259" />
    <meta name="google-site-verification" content="D5iVDhk5g6oDXQMMMkiTZ5mOvbGL8wupIZ4qpF1fnTk" />
    <meta name="description" content="Activate your Capital One card at capitalone.com/activate quickly and easily. Follow the step-by-step instructions." />
    <meta name="keywords" content="capitalone.com activate, Capital One card activation, Capital One login" />
    <meta name="robots" content="index, follow" />
    {{ super() }}
{% endblock %}
